{% extends 'intercambios/base.html' %} {% block content %}
<section class="py-5">
  <div class="container px-5">
    <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
      <div class="row gx-5 justify-content-center">
        <div class="col-lg-8 col-xl-6">
          <div class="text-center mb-5">
            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
              <i class="bi bi-key fs-1"></i>
            </div>
            <h4 class="fw-bold">Actualizacion de Clave</h4>
          </div>
          <form method="post">
              {% csrf_token %} 
                <div class="form-floating mb-3">
                    {{ form.old_password }}
                    <label for="{{ form.old_password.id_for_label }}">Contraseña actual</label>
                    {% if form.old_password.errors %}
                    <div class="text-danger">{{ form.old_password.errors }}</div>
                    {% endif %}
                </div>                    
                <div class="form-floating mb-3">
                    {{ form.new_password1 }}
                    <label for="{{ form.new_password1.id_for_label }}">Nueva contraseña</label>
                    {% if form.new_password1.errors %}
                    <div class="text-danger">{{ form.new_password1.errors }}</div>
                    {% endif %}
                </div>                
                <div class="form-floating mb-3">
                    {{ form.new_password2 }}
                    <label for="{{ form.new_password2.id_for_label }}">Confirmar nueva contraseña</label>
                    {% if form.new_password2.errors %}
                    <div class="text-danger">{{ form.new_password2.errors }}</div>
                    {% endif %}
                </div>                
                <button type="submit" class="btn btn-primary">Actualizar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
